{% extends "base.html" %}
{% block content %}
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-12">
        <p>Generate sandboxed payment forms for items</p>
        <div>
          <strong>Authorization</strong>
          <p>
            Login: user
            Password: user
          </p>
        </div>
        <div>
          To create an **superuser account**, and be able to use admin use this command
          <p>

            $ docker-compose -f &lt;env-file&gt; run django python manage.py createsuperuser
          </p>
        </div>
        <div>
          <strong>Running tests with py.test</strong>
          <p>
            $ docker-compose -f &lt;env-file&gt; run django pytest
          </p>
        </div>
        <div>
        <strong>Running Application</strong>
        <p>
          $ docker-compose -f local.yml up
        </p>
      </div>
      </div>
    </div>
  </div>
{% endblock content %}
